# macOS
.DS_Store

# Compiled Lua from teal-build
service/**/*.lua

# Gradle
.gradle/
build/
*/out/
*/*/out
codegen/.gradle/
codegen/build/
codegen/smithy-aws-lua-codegen/build/
codegen/sdk-codegen/build/
codegen/sdk-codegen/smithy-build.json

# IntelliJ
.idea/
*.iml
*.iws

aws-sdk-lua-wt
